{% extends "main.html" %}
{% block content %}

<div class="mdl-layout mdl-js-layout mdl-layout--fixed-drawer
            mdl-layout--fixed-header">
  {% include "header.html" %}
  <div class="mdl-layout__drawer mdl-color--blue-400 mdl-color-text--black drawer">
    <span class="mdl-layout-title">Coding Topics</span>
    <nav class="mdl-navigation mdl-color--blue-200 navigation">
      {% for category in categories%}
      <a class="mdl-navigation__link link "
        href="{{url_for('showCategoryItems', category_name=category.name)}}">
        <strong>{{category.name}}</strong>
      </a>
      {% endfor %}
    </nav>
    <form action="{{url_for('createCategory')}}">
      <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect
        mdl-button--accent mdl-color--red-400 create-cat-button">
        Create Topic
      </button>
    </form>
  </div>
  <main class="mdl-layout__content body">
    <div class="col-md-12 category-header">
      <form class="CRUD-button" action="{{url_for('editItem', category_name=category.name, item_name=item.name)}}">
        <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect
          mdl-button--accent mdl-color--orange-400">
          Edit Item
        </button>
      </form>
      <form class="CRUD-button" action="{{url_for('deleteItem', category_name=category.name, item_name=item.name)}}">
        <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect
          mdl-button--accent mdl-color--red-400">
          Delete Item
        </button>
      </form>

      <h1 class="topic-header"> {{category.name}} </h1>
      <h3 class="intro"> {{item.name}} </h3>
      <p class="topic-desc"> {{item.description}} </p>
    </div>
  </main>
</div>
{% endblock %}
