html, body {
  font-family: 'Roboto', 'Helvetica', sans-serif;
}

.demo-layout .mdl-layout__header .mdl-layout__drawer-button {
  color: rgba(0, 0, 0, 0.54);
}

.home-image {
  width: 60%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.is-upgraded {
  min-height: 100%;
  height: auto !important;
}

.navigation {
  height: 85%;
}

.drawer {
  border-right: 0px !important;
}

.link {
  color: black !important;
}

.create-cat-button {
  width: 100%;
}

.form-group {
  margin-left: 20px;
}

.menu {
  margin-left: 10px;
}

.user-pic {
  width: 48px;
  height: 48px;
  border-radius: 24px;
  -webkit-border-radius: 24px;
  -moz-border-radius: 24px;
}

.CRUD-button, .user-log {
  display: inline-block;
}

.welcome-user {
  font-size: 18px;
  vertical-align: middle;
}

.user-log{
  margin-right: 1em;
}
